 

<!-- Форма реєстрації і входу -->
<div class="auth-card">
  
  <!-- 1. Динамічний заголовок -->
  <h2 class="auth-title">
    {{ isLoginMode ? '🔑 Вхід' : '📝 Реєстрація' }}
  </h2>

  <!-- Поле Email -->
  <div class="form-group">
    <label class="form-label">Логін (Email):</label>
    <input type="email" name="email" [(ngModel)]="registerForm.email" class="form-input" placeholder="Введіть email..."> 
  </div>

  <!-- Поле пароля -->
  <div class="form-group-mb20">
    <label class="form-label">Пароль:</label>
    <input type="password" name="password" [(ngModel)]="registerForm.password" placeholder="Введіть пароль..." required class="form-input">
    <!-- Підказка для користувача -->
    <small class="password-hint">Пароль має містити щонайменше 8 символів</small>
  </div>

  <!-- 2. Головна магія тут: динамічний клік та текст кнопки -->
  <button (click)="isLoginMode ? onLogin() : onRegister()" class="btn-submit">
    {{ isLoginMode ? 'Увійти' : 'Зареєструватися' }}
  </button>

  <!-- Перемикач / посилання на логін -->
  <div class="switch-container">
    <span (click)="switchMode()" class="switch-link">
      {{ isLoginMode ? 'Ще немає акаунта? Зареєструватися' : 'Вже є акаунт? Увійти' }}
    </span>
  </div>
  
</div>