 <nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="brand-link">🗳️ Система опитувань</a>
  </div>
  
  <div class="navbar-nav">
    <a routerLink="/" class="nav-link">Головна</a>
    
    <!-- Якщо користувач НЕ залогінений -->
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/register" class="btn btn-success">Реєстрація/Вхід</a>
    </ng-container>

    <!-- Якщо користувач залогінений -->
    <ng-container *ngIf="isLoggedIn">
      <a *ngIf="isAdmin" routerLink="/admin" class="btn btn-warning">🛠️ Адмінка</a>
      <button (click)="logout()" class="btn btn-danger">Вийти</button>
    </ng-container>
  </div>
</nav>